.highlight {
	background: #f2f2f2;
	border-radius: 5px;
	padding: 2px 5px;
}

#bu-link-all.bu-link {
	font-style: normal;
	text-decoration: none;
	color: #2B60DE;
}

#bu-link-all.bu-link:hover, 
#bu-link-all.bu-link:active {
	text-decoration: none;
}

#bu-link-all.bu-link.classic {
	text-decoration: none
}

#bu-link-all.bu-link.classic:hover {
	color: #0038A8;
	text-decoration: underline;
}

#bu-link-all.bu-link.underline {
	text-decoration: underline;
}

#bu-link-all.bu-link.underline:hover {
	color: #0038A8;
	background: lightblue;
}

#bu-link-all.bu-link.style1 {
	padding: 3px;
	background: #f1f1f4;
	color: #2b2d3b;
}

#bu-link-all.bu-link.style1:hover {
	display: inline;
	content: "";
	background: lightblue;
	/*border-bottom-style: dashed;*/
}

#bu-link-all.bu-link.style2 {
	padding: 0px;
}

#bu-link-all.bu-link.style2:hover {
	background: lightblue;
}