html {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	padding-bottom: 10px;
}

#test-panel {
	margin-top: 20px;
	color: #2D2F3D;
	padding: 0 20px;
	font-family: "Source Sans Pro", sans-serif;
}

#test-panel h3 {
	text-align: center;
	font-weight: 700;
}

a {
	color: red;
}

#test {
	padding: 15px;
	height: 150px;
	overflow-x: auto;
	overflow-y: hidden;
	background: red;
	white-space: nowrap;
	width: 300px;
}