
/* INLINE POPUP
   BIBLEUP 📖💡
*/

#bu-popup.bu-inline {
	@bg-color: #ffffff;
	position: absolute;
	width: 80%;
	max-width: 400px;
	height: auto;
	max-height: 220px;
	padding-top: 10px;
	background: @bg-color;
	//box-shadow: 0px 0px 3px 0.7px #cccccc;
	box-shadow: #cccccc 0px 0px 5px 0px, #ccc 0px 0px 1px 0px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	box-shadow: 0px 0px 2px 0.5px #ccc;
	border-radius: 10px;
	overflow: hidden;
	
	p {
		margin: 0;
	}
	
	div {
		padding: 10px 15px;
	}

	#bu-popup-content {
		min-height: 50px;
		max-height: 130px;
		overflow-x: auto;
		
		
		ol {
			padding: 0 20px;
			margin: 0;
		}
		li {
			padding: 0 5px;
			margin: 0;
			&:not(:last-child) {
				padding-bottom: 10px;
			}
		}
	}
	
	#bu-popup-footer {
		font-weight: bold;
		text-align: right;
		color: #8c8c8c;
	}
}

#bu-popup.bu-inline.bu-theme-dark {
	@bg1: #3d4245;
	@color: #333333;
	background: @bg1;
	color: #f2f2f2;
}
